cudf-cu11 --extra-index-url=https://pypi.nvidia.com
dask-cudf-cu11 --extra-index-url=https://pypi.nvidia.com
cuml-cu11 --extra-index-url=https://pypi.nvidia.com
cugraph-cu11 --extra-index-url=https://pypi.nvidia.com
merlin-models
nvtabular
transformers4rec[pytorch,nvtabular,dataloader]